<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Page</title>
</head>
<body>
    <div>
        <h1><a href="#">BLOG 1</a></h1>
    </div>
    <div>
        <p>Published On: 14.04.20, 12:14</p>
        <h2><a href="#">MY FIRST BLOG</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id iusto officiis, delectus voluptatum facilis atque aut autem rem fuga magnam fugiat commodi vel ipsa optio accusamus fugit repellendus esse deserunt.</p>
    </div>
    <div>
        <p>Published On: 16.04.20, 12:14</p>
        <h2><a href="#">MY SECOND BLOG</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id iusto officiis, delectus voluptatum facilis atque aut autem rem fuga magnam fugiat commodi vel ipsa optio accusamus fugit repellendus esse deserunt.</p>
    </div>

</body>
</html>